* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Greta Sans Medium","Greta Sans Regular",Arial,sans-serif;
}

.container {
    width: 80%;
    height: auto;
    margin-left: 119px;
}